<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace="~{fragments/testfile :: meta-fragments}"></div>
    <meta charset="UTF-8">
    <title>360 Form</title>
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            background-color: #fff;
            color: #333;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 600px;
            margin: 50px auto;
            padding: 30px;
            background-color: #eee;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            border: 5px solid #ddd;
        }

        h1 {
            color: #0076D6;
            text-align: center;
        }

        h2, h3, h4 {
            margin-top: 20px;
            color: #0076D6;
            font-size: 24px;
            border-bottom: 1px solid #ddd;
            padding-bottom: 10px;
        }

        form {
            margin-top: 20px;
        }

        label {
            display: block;
            margin-bottom: 10px;
            color: #333;
            font-weight: bold;
        }

        input[type="checkbox"], input[type="radio"] {
            margin-right: 5px;
        }

        textarea {
            width: calc(100% - 20px);
            margin-top: 10px;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
        }

        input[type="submit"] {
            background-color: #E22922;
            color: #fff;
            padding: 15px 20px;
            font-size: 16px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            display: block;
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
        }

        input[type="submit"]:hover {
            background-color: #C41D1A;
        }

    </style>
</head>
<body>
<div class ="container">
    <h1>Please Fill Out Your Self Review Questionnaire</h1>
    <form th:action="@{'/review/' + ${form.id}}" method="post" th:object="${reviewForm}">

        <div>
            <table>
                <h2>1. Collaborative: While working, to what extent do you experience yourself... </h2>
                <tr>
                    <th></th>
                    <th>Never(1)</th>
                    <th>Rarely(2)</th>
                    <th>Sometimes(3)</th>
                    <th>Often(4)</th>
                    <th>Always(5)</th>
                </tr>
                <tr>
                    <td>Building meaningful relationships across teams and projects.</td>
                    <td><input type="radio" name="oneOne" value = "1"></td>
                    <td><input type="radio" name="oneOne" value = "2"></td>
                    <td><input type="radio" name="oneOne" value = "3"></td>
                    <td><input type="radio" name="oneOne" value = "4"></td>
                    <td><input type="radio" name="oneOne" value = "5"></td>

                </tr>
                <tr>
                    <td>Sharing your experiances openly so that people can learn.</td>
                    <td><input type="radio" name="oneTwo" value = "1"></td>
                    <td><input type="radio" name="oneTwo" value = "2"></td>
                    <td><input type="radio" name="oneTwo" value = "3"></td>
                    <td><input type="radio" name="oneTwo" value = "4"></td>
                    <td><input type="radio" name="oneTwo" value = "5"></td>
                </tr>
                <tr>
                    <td>Actively seeking out opportunities to support others in work.</td>
                    <td><input type="radio" name="oneThree" value = "1"></td>
                    <td><input type="radio" name="oneThree" value = "2"></td>
                    <td><input type="radio" name="oneThree" value = "3"></td>
                    <td><input type="radio" name="oneThree" value = "4"></td>
                    <td><input type="radio" name="oneThree" value = "5"></td>
                </tr>
                <tr>
                    <td>As being open and approachable</td>
                    <td><input type="radio" name="oneFour" value = "1"></td>
                    <td><input type="radio" name="oneFour" value = "2"></td>
                    <td><input type="radio" name="oneFour" value = "3"></td>
                    <td><input type="radio" name="oneFour" value = "4"></td>
                    <td><input type="radio" name="oneFour" value = "5"></td>
                </tr>

            </table>
        </div>

        <div>
            <table>
                <h2>2.While working, to what extent do you experience yourself... </h2>
                <tr>
                    <th></th>
                    <th>Never(1)</th>
                    <th>Rarely(2)</th>
                    <th>Sometimes(3)</th>
                    <th>Often(4)</th>
                    <th>Always(5)</th>
                </tr>
                <tr>
                    <td>Experimenting to learn what works and pivoting when it doesnt.</td>
                    <td><input type="radio" name="twoOne" value = "1"></td>
                    <td><input type="radio" name="twoOne" value = "2"></td>
                    <td><input type="radio" name="twoOne" value = "3"></td>
                    <td><input type="radio" name="twoOne" value = "4"></td>
                    <td><input type="radio" name="twoOne" value = "5"></td>

                </tr>
                <tr>
                    <td>Accepting and building on others' ideas and opinions to achieve the best possible outcome.</td>
                    <td><input type="radio" name="twoTwo" value = "1"></td>
                    <td><input type="radio" name="twoTwo" value = "2"></td>
                    <td><input type="radio" name="twoTwo" value = "3"></td>
                    <td><input type="radio" name="twoTwo" value = "4"></td>
                    <td><input type="radio" name="twoTwo" value = "5"></td>
                </tr>
                <tr>
                    <td>Working for the good of the collective rather thank your own priorities.</td>
                    <td><input type="radio" name="twoThree" value = "1"></td>
                    <td><input type="radio" name="twoThree" value = "2"></td>
                    <td><input type="radio" name="twoThree" value = "3"></td>
                    <td><input type="radio" name="twoThree" value = "4"></td>
                    <td><input type="radio" name="twoThree" value = "5"></td>
                </tr>
                <tr>
                    <td>Promoting and discussing how our purpose connects to the greater customer outcomes.</td>
                    <td><input type="radio" name="twoFour" value = "1"></td>
                    <td><input type="radio" name="twoFour" value = "2"></td>
                    <td><input type="radio" name="twoFour" value = "3"></td>
                    <td><input type="radio" name="twoFour" value = "4"></td>
                    <td><input type="radio" name="twoFour" value = "5"></td>
                </tr>
            </table>
        </div>

        <div>
            <table>
                <h2>3. Straight-Forward: While working, to what extent do you experience yourself... </h2>
                <tr>
                    <th></th>
                    <th>Never(1)</th>
                    <th>Rarely(2)</th>
                    <th>Sometimes(3)</th>
                    <th>Often(4)</th>
                    <th>Always(5)</th>
                </tr>
                <tr>
                    <td>Actively asking for feedback and receiving it with curiosity.</td>
                    <td><input type="radio" name="threeOne" value = "1"></td>
                    <td><input type="radio" name="threeOne" value = "2"></td>
                    <td><input type="radio" name="threeOne" value = "3"></td>
                    <td><input type="radio" name="threeOne" value = "4"></td>
                    <td><input type="radio" name="threeOne" value = "5"></td>

                </tr>
                <tr>
                    <td>Listening openly to really understand.</td>
                    <td><input type="radio" name="threeTwo" value = "1"></td>
                    <td><input type="radio" name="threeTwo" value = "2"></td>
                    <td><input type="radio" name="threeTwo" value = "3"></td>
                    <td><input type="radio" name="threeTwo" value = "4"></td>
                    <td><input type="radio" name="threeTwo" value = "5"></td>
                </tr>
                <tr>
                    <td>Taking the time to get to know others.</td>
                    <td><input type="radio" name="threeThree" value = "1"></td>
                    <td><input type="radio" name="threeThree" value = "2"></td>
                    <td><input type="radio" name="threeThree" value = "3"></td>
                    <td><input type="radio" name="threeThree" value = "4"></td>
                    <td><input type="radio" name="threeThree" value = "5"></td>
                </tr>
                <tr>
                    <td>Having the courage to challenge constructively and respectfully.</td>
                    <td><input type="radio" name="threeFour" value = "1"></td>
                    <td><input type="radio" name="threeFour" value = "2"></td>
                    <td><input type="radio" name="threeFour" value = "3"></td>
                    <td><input type="radio" name="threeFour" value = "4"></td>
                    <td><input type="radio" name="threeFour" value = "5"></td>
                </tr>
            </table>
        </div>

        <div>
            <table>
                <h2>4. Authenticity: While working, to what extent do you experience yourself...</h2>
                <tr>
                    <th></th>
                    <th>Never(1)</th>
                    <th>Rarely(2)</th>
                    <th>Sometimes(3)</th>
                    <th>Often(4)</th>
                    <th>Always(5)</th>
                </tr>
                <tr>
                    <td>Demonstrating high levels of self-awareness.</td>
                    <td><input type="radio" name="fourOne" value = "1"></td>
                    <td><input type="radio" name="fourOne" value = "2"></td>
                    <td><input type="radio" name="fourOne" value = "3"></td>
                    <td><input type="radio" name="fourOne" value = "4"></td>
                    <td><input type="radio" name="fourOne" value = "5"></td>

                </tr>
                <tr>
                    <td>Creating an environment of trust where you trust others' and earn others' trust in return.</td>
                    <td><input type="radio" name="fourTwo" value = "1"></td>
                    <td><input type="radio" name="fourTwo" value = "2"></td>
                    <td><input type="radio" name="fourTwo" value = "3"></td>
                    <td><input type="radio" name="fourTwo" value = "4"></td>
                    <td><input type="radio" name="fourTwo" value = "5"></td>
                </tr>
                <tr>
                    <td>Empowering others to get on with their work and helping the clear obstacles out of the way.</td>
                    <td><input type="radio" name="fourThree" value = "1"></td>
                    <td><input type="radio" name="fourThree" value = "2"></td>
                    <td><input type="radio" name="fourThree" value = "3"></td>
                    <td><input type="radio" name="fourThree" value = "4"></td>
                    <td><input type="radio" name="fourThree" value = "5"></td>
                </tr>
                <tr>
                    <td>Behaving cnsistantly across different situations.</td>
                    <td><input type="radio" name="fourFour" value = "1"></td>
                    <td><input type="radio" name="fourFour" value = "2"></td>
                    <td><input type="radio" name="fourFour" value = "3"></td>
                    <td><input type="radio" name="fourFour" value = "4"></td>
                    <td><input type="radio" name="fourFour" value = "5"></td>
                </tr>
            </table>
        </div>

        <div>
            <table>
                <h2>5. Agile: While working, to what extent do you experience yourself... </h2>
                <tr>
                    <th></th>
                    <th>Never(1)</th>
                    <th>Rarely(2)</th>
                    <th>Sometimes(3)</th>
                    <th>Often(4)</th>
                    <th>Always(5)</th>
                </tr>
                <tr>
                    <td>Ruthlessly prioritising and communicating it clearly.</td>
                    <td><input type="radio" name="fiveOne" value = "1"></td>
                    <td><input type="radio" name="fiveOne" value = "2"></td>
                    <td><input type="radio" name="fiveOne" value = "3"></td>
                    <td><input type="radio" name="fiveOne" value = "4"></td>
                    <td><input type="radio" name="fiveOne" value = "5"></td>

                </tr>
                <tr>
                    <td>Talking openly about your mistakes to help others learn.</td>
                    <td><input type="radio" name="fiveTwo" value = "1"></td>
                    <td><input type="radio" name="fiveTwo" value = "2"></td>
                    <td><input type="radio" name="fiveTwo" value = "3"></td>
                    <td><input type="radio" name="fiveTwo" value = "4"></td>
                    <td><input type="radio" name="fiveTwo" value = "5"></td>
                </tr>
                <tr>
                    <td>Creating a climate where people fell safe and are encouraged to speak up.</td>
                    <td><input type="radio" name="fiveThree" value = "1"></td>
                    <td><input type="radio" name="fiveThree" value = "2"></td>
                    <td><input type="radio" name="fiveThree" value = "3"></td>
                    <td><input type="radio" name="fiveThree" value = "4"></td>
                    <td><input type="radio" name="fiveThree" value = "5"></td>
                </tr>
                <tr>
                    <td>Anticipating and responding to change at pace.</td>
                    <td><input type="radio" name="fiveFour" value = "1"></td>
                    <td><input type="radio" name="fiveFour" value = "2"></td>
                    <td><input type="radio" name="fiveFour" value = "3"></td>
                    <td><input type="radio" name="fiveFour" value = "4"></td>
                    <td><input type="radio" name="fiveFour" value = "5"></td>
                </tr>
                <tr>
                    <td>Driving commercial value that focus on our customers and shareholders.</td>
                    <td><input type="radio" name="fiveFive" value = "1"></td>
                    <td><input type="radio" name="fiveFive" value = "2"></td>
                    <td><input type="radio" name="fiveFive" value = "3"></td>
                    <td><input type="radio" name="fiveFive" value = "4"></td>
                    <td><input type="radio" name="fiveFive" value = "5"></td>
                </tr>

            </table>
        </div>

        <div>
            <table>
                <h2>6. Ambitious: While working, to what extent do you experience yourself... </h2>
                <tr>
                    <th></th>
                    <th>Never(1)</th>
                    <th>Rarely(2)</th>
                    <th>Sometimes(3)</th>
                    <th>Often(4)</th>
                    <th>Always(5)</th>
                </tr>
                <tr>
                    <td>Driving enterprise-wide success.</td>
                    <td><input type="radio" name="sixOne" value = "1"></td>
                    <td><input type="radio" name="sixOne" value = "2"></td>
                    <td><input type="radio" name="sixOne" value = "3"></td>
                    <td><input type="radio" name="sixOne" value = "4"></td>
                    <td><input type="radio" name="sixOne" value = "5"></td>

                </tr>
                <tr>
                    <td>Driving outcomes that start with our customers.</td>
                    <td><input type="radio" name="sixTwo" value = "1"></td>
                    <td><input type="radio" name="sixTwo" value = "2"></td>
                    <td><input type="radio" name="sixTwo" value = "3"></td>
                    <td><input type="radio" name="sixTwo" value = "4"></td>
                    <td><input type="radio" name="sixTwo" value = "5"></td>
                </tr>
                <tr>
                    <td>Pushing boundaries to create opportunities for future success.</td>
                    <td><input type="radio" name="sixThree" value = "1"></td>
                    <td><input type="radio" name="sixThree" value = "2"></td>
                    <td><input type="radio" name="sixThree" value = "3"></td>
                    <td><input type="radio" name="sixThree" value = "4"></td>
                    <td><input type="radio" name="sixThree" value = "5"></td>
                </tr>
                <tr>
                    <td>Thinking about the future and changes that are needed</td>
                    <td><input type="radio" name="sixFour" value = "1"></td>
                    <td><input type="radio" name="sixFour" value = "2"></td>
                    <td><input type="radio" name="sixFour" value = "3"></td>
                    <td><input type="radio" name="sixFour" value = "4"></td>
                    <td><input type="radio" name="sixFour" value = "5"></td>
                </tr>

            </table>
        </div>

        <div>
            <label class="form-label" for="superpower">7. What do you consider to be your superpower? :</label>
            <input class="form-control" id="superpower" th:field="*{superpower}" placeholder="SuperPower?" type="text"/>
        </div>
        <div>
            <label class="form-label" for="impact">8. What is the one thing you could do to improve your impact? :</label>
            <input class="form-control" id="impact" th:field="*{impact}" placeholder="Enter Your Answer" type="text"/>
        </div>
        <input type="submit" value="Submit">

    </form>
</div>

</body>
</html>