<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Account Activation</title>
</head>
<body>
<p>Dear <span th:text="${to}">User</span>,</p>

<p>Welcome to Our legal and general! To activate your account, please click the following link:</p>

<!--<a th:href="${url}" target="_blank">Activate Account</a>-->
<!--<a th:href="${url + '/password/reset-password?t=' + token + '&email=' + email}" target="_blank">Reset Password</a>-->
<!--<a th:href="@{/reset-password(token=${token}, email=${email})}" target="_blank">Reset Password</a>-->
<!--<a th:href="@{/password/reset-password(token=${token},email=${email})}" target="_blank">Reset Password</a>-->

<a th:href="@{'https://localhost:8443/password/reset-password?token=' + ${token} + '&email=' + ${email}}" target="_blank">Reset Password</a>

<p>If you did not request this reset, please ignore this email.</p>

<p>Best regards,<br/>Legal and General</p>
</body>
</html>
