<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Your Graphs</title>
    <!-- Include Highcharts -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
</head>
<body>
<h1>Your Graphs</h1>
<body>
<div id="container" style="width: 100%; height: 400px;"></div>
<div id="chartContainer" style="width: 100%; height: 400px;"></div>
</body>
<h1>Questions and Answers</h1>
<div th:each="entry : ${formTextAnswer}">
    <h3 th:text="${entry.key}"></h3>
    <ul>
        <li th:each="answer : ${entry.value}" th:text="${answer}"></li>
    </ul>
</div>
<script th:inline="javascript">
    /*[[${categoryAverages}]]*/;
    var data = /*[[${categoryAverages}]]*/; 'default_value_if_empty';

    // Create the chart if data is available
    if (data !== 'default_value_if_empty') {
        Highcharts.chart('container', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'average score per category'
            },
            xAxis: {
                categories: data.map(item => item.category),
                title: {
                    text: 'Categories'
                }
            },
            yAxis: {
                title: {
                    text: ' Average score'
                }
            },
            series: [{
                name: 'Average',
                data: data.map(item => item.average)
            }],
            tooltip: {
                formatter: function() {
                    const point = this.point;
                    const keyword = data[point.index].keyword;
                    return `Term: ${point.category}<br>Average: ${point.y}<br>Keyword: ${keyword}`;
                }
            }
        });
    }






</script>




<script th:inline="javascript">
    // Retrieve the data from the model
    var dataList = /*[[${chartData}]]*/ [];

    // Prepare the series data
    var seriesData = [];
    var categories = [];

    dataList.forEach(function(item) {
        if (!categories.includes(item.category)) {
            categories.push(item.category);
        }

        var seriesIndex = seriesData.findIndex(function(seriesItem) {
            return seriesItem.name === item.relationship;
        });

        if (seriesIndex === -1) {
            seriesData.push({
                name: item.relationship,
                data: [item.average]
            });
        } else {
            seriesData[seriesIndex].data.push(item.average);
        }
    });

    // Create the chart
    Highcharts.chart('chartContainer', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Averages by Category and Relationship'
        },
        xAxis: {
            categories: categories
        },
        yAxis: {
            title: {
                text: 'Average'
            }
        },
        series: seriesData
    });
</script>
</body>
</html>

