<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Peer Review Questionnaire</title>
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            background-color: #fff;
            color: #333;
        }

        .container {
            max-width: 600px;
            margin: 50px auto;
            padding: 30px;
            background-color: #eee;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            border: 5px solid #ddd;
        }

        h1 {
            color: #0076D6;
            text-align: center;
        }

        h2 {
            margin-top: 20px;
            color: #0076D6;
            font-size: 24px;
            border-bottom: 1px solid #ddd;
            padding-bottom: 10px;
        }

        h3 {
            margin-top: 20px;
            color: #333;
            font-size: 18px;
            border-bottom: 1px solid #ddd;
            padding-bottom: 10px;
        }

        h4 {
            margin-top: 20px;
            color: #333;
            font-size: 18px;
            border-bottom: 1px solid #ddd;
            padding-bottom: 10px;
        }

        form {
            margin-top: 20px;
        }

        label {
            display: block;
            margin-bottom: 10px;
            color: #333;
            font-weight: bold;
        }

        input[type="radio"] {
            margin-right: 5px;
        }

        .radio-group {
            margin-top: 10px;
        }

        .radio-group label {
            display: block;
            margin-bottom: 5px;
            cursor: pointer;
        }

        input[type="radio"]:checked + label {
            background-color: #0076D6;
            color: #fff;
        }

        textarea {
            width: calc(100% - 20px);
            margin-top: 10px;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
        }

        input[type="submit"] {
            background-color: #E22922;
            color: #fff;
            padding: 15px 20px;
            font-size: 16px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            display: block;
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
        }

        input[type="submit"]:hover {
            background-color: #C41D1A;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Peer Review Questionnaire for "..."</h1>
    <form action="" method="post">

        <div class="">
            <h2>You are...</h2>
            <label>
                <input type="radio" name="Who" value="option1"> This person's peer / colleague
            </label>
            <label>
                <input type="radio" name="Who" value="option2"> This person's manager
            </label>
            <label>
                <input type="radio" name="Who" value="option3"> Within this person's team
            </label>

            <h2>1. Collaborative:</h2>
            <h3>While working with this individual, to what extent do you experience them... </h3>

            <h4>building meaningful relationships across teams and projects?</h4>
            <label>
                <input type="radio" name="question1" value="option1"> Never [1]
            </label>
            <br>
            <label>
                <input type="radio" name="question1" value="option2"> Rarely [2]
            </label>
            <br>
            <label>
                <input type="radio" name="question1" value="option3"> Sometimes [3]
            </label>
            <br>
            <label>
                <input type="radio" name="question1" value="option4"> Often [4]
            </label>
            <br>
            <label>
                <input type="radio" name="question1" value="option5"> Always [5]
            </label>

            <h4>Sharing their experiences openly so that people can learn.</h4>
            <label>
                <input type="radio" name="question2" value="option1"> Never [1]
            </label>
            <br>
            <label>
                <input type="radio" name="question2" value="option2"> Rarely [2]
            </label>
            <br>
            <label>
                <input type="radio" name="question2" value="option3"> Sometimes [3]
            </label>
            <br>
            <label>
                <input type="radio" name="question2" value="option4"> Often [4]
            </label>
            <br>
            <label>
                <input type="radio" name="question2" value="option5"> Always [5]
            </label>

            <h4>Actively seeking out opportunities to support you and others in their work.</h4>
            <label>
                <input type="radio" name="question3" value="option1"> Never [1]
            </label>
            <br>
            <label>
                <input type="radio" name="question3" value="option2"> Rarely [2]
            </label>
            <br>
            <label>
                <input type="radio" name="question3" value="option3"> Sometimes [3]
            </label>
            <br>
            <label>
                <input type="radio" name="question3" value="option4"> Often [4]
            </label>
            <br>
            <label>
                <input type="radio" name="question3" value="option5"> Always [5]
            </label>

            <h4>As being open and approachable.</h4>
            <label>
                <input type="radio" name="question4" value="option1"> Never [1]
            </label>
            <br>
            <label>
                <input type="radio" name="question4" value="option2"> Rarely [2]
            </label>
            <br>
            <label>
                <input type="radio" name="question4" value="option3"> Sometimes [3]
            </label>
            <br>
            <label>
                <input type="radio" name="question4" value="option4"> Often [4]
            </label>
            <br>
            <label>
                <input type="radio" name="question4" value="option5"> Always [5]
            </label>

            <h2>2. Purposeful:</h2>
            <h3>While working with this individual, to what extent do you experience them... </h3>

            <h4>Actively asking for feedback and receiving it with curiosity.</h4>
            <label>
                <input type="radio" name="question5" value="option1"> Never [1]
            </label>
            <br>
            <label>
                <input type="radio" name="question5" value="option2"> Rarely [2]
            </label>
            <br>
            <label>
                <input type="radio" name="question5" value="option3"> Sometimes [3]
            </label>
            <br>
            <label>
                <input type="radio" name="question5" value="option4"> Often [4]
            </label>
            <br>
            <label>
                <input type="radio" name="question5" value="option5"> Always [5]
            </label>

            <h4>Listening openly to really understand.</h4>
            <label>
                <input type="radio" name="question6" value="option1"> Never [1]
            </label>
            <br>
            <label>
                <input type="radio" name="question6" value="option2"> Rarely [2]
            </label>
            <br>
            <label>
                <input type="radio" name="question6" value="option3"> Sometimes [3]
            </label>
            <br>
            <label>
                <input type="radio" name="question6" value="option4"> Often [4]
            </label>
            <br>
            <label>
                <input type="radio" name="question6" value="option5"> Always [5]
            </label>

            <h4>Taking the time to get to know you.</h4>
            <label>
                <input type="radio" name="question7" value="option1"> Never [1]
            </label>
            <br>
            <label>
                <input type="radio" name="question7" value="option2"> Rarely [2]
            </label>
            <br>
            <label>
                <input type="radio" name="question7" value="option3"> Sometimes [3]
            </label>
            <br>
            <label>
                <input type="radio" name="question7" value="option4"> Often [4]
            </label>
            <br>
            <label>
                <input type="radio" name="question7" value="option5"> Always [5]
            </label>

            <h4>Having the courage to challenge constructively and respectfully</h4>
            <label>
                <input type="radio" name="question8" value="option1"> Never [1]
            </label>
            <br>
            <label>
                <input type="radio" name="question8" value="option2"> Rarely [2]
            </label>
            <br>
            <label>
                <input type="radio" name="question8" value="option3"> Sometimes [3]
            </label>
            <br>
            <label>
                <input type="radio" name="question8" value="option4"> Often [4]
            </label>
            <br>
            <label>
                <input type="radio" name="question8" value="option5"> Always [5]
            </label>
            <h2>3.Straight-forward:</h2>
            <h3>While working with this individual, to what extent do you experience them... </h3>

            <h4>Actively asking for feedback and receiving it with curiosity</h4>
            <label>
                <input type="radio" name="question9_1" value="option1"> Never [1]
            </label>
            <br>
            <label>
                <input type="radio" name="question9_1" value="option2"> Rarely [2]
            </label>
            <br>
            <label>
                <input type="radio" name="question9_1" value="option3"> Sometimes [3]
            </label>
            <br>
            <label>
                <input type="radio" name="question9_1" value="option4"> Often [4]
            </label>
            <br>
            <label>
                <input type="radio" name="question9_1" value="option5"> Always [5]
            </label>

            <h4>Listening openly to really understand.</h4>
            <label>
                <input type="radio" name="question9_2" value="option1"> Never [1]
            </label>
            <br>
            <label>
                <input type="radio" name="question9_2" value="option2"> Rarely [2]
            </label>
            <br>
            <label>
                <input type="radio" name="question9_2" value="option3"> Sometimes [3]
            </label>
            <br>
            <label>
                <input type="radio" name="question9_2" value="option4"> Often [4]
            </label>
            <br>
            <label>
                <input type="radio" name="question9_2" value="option5"> Always [5]
            </label>

            <h4>Taking the time to get to know you.</h4>
            <label>
                <input type="radio" name="question9_3" value="option1"> Never [1]
            </label>
            <br>
            <label>
                <input type="radio" name="question9_3" value="option2"> Rarely [2]
            </label>
            <br>
            <label>
                <input type="radio" name="question9_3" value="option3"> Sometimes [3]
            </label>
            <br>
            <label>
                <input type="radio" name="question9_3" value="option4"> Often [4]
            </label>
            <br>
            <label>
                <input type="radio" name="question9_3" value="option5"> Always [5]
            </label>

            <h4>Having the courage to challenge constructively and respectfully.</h4>
            <label>
                <input type="radio" name="question9_4" value="option1"> Never [1]
            </label>
            <br>
            <label>
                <input type="radio" name="question9_4" value="option2"> Rarely [2]
            </label>
            <br>
            <label>
                <input type="radio" name="question9_4" value="option3"> Sometimes [3]
            </label>
            <br>
            <label>
                <input type="radio" name="question9_4" value="option4"> Often [4]
            </label>
            <br>
            <label>
                <input type="radio" name="question9_4" value="option5"> Always [5]
            </label>
            <h2>4. Authentic:</h2>
            <h3>While working with this individual, to what extent do you experience them... </h3>

            <h4>Demonstrating high levels of self-awareness</h4>
            <label>
                <input type="radio" name="question10_1" value="option1"> Never [1]
            </label>
            <br>
            <label>
                <input type="radio" name="question10_1" value="option2"> Rarely [2]
            </label>
            <br>
            <label>
                <input type="radio" name="question10_1" value="option3"> Sometimes [3]
            </label>
            <br>
            <label>
                <input type="radio" name="question10_1" value="option4"> Often [4]
            </label>
            <br>
            <label>
                <input type="radio" name="question10_1" value="option5"> Always [5]
            </label>

            <h4>Creating an environment of trust where they trust others and earn their trust in return.</h4>
            <label>
                <input type="radio" name="question10_2" value="option1"> Never [1]
            </label>
            <br>
            <label>
                <input type="radio" name="question10_2" value="option2"> Rarely [2]
            </label>
            <br>
            <label>
                <input type="radio" name="question10_2" value="option3"> Sometimes [3]
            </label>
            <br>
            <label>
                <input type="radio" name="question10_2" value="option4"> Often [4]
            </label>
            <br>
            <label>
                <input type="radio" name="question10_2" value="option5"> Always [5]
            </label>

            <h4>Empowering others to get on with their work whilst focusing on clearing obstacles out of their way</h4>
            <label>
                <input type="radio" name="question10_3" value="option1"> Never [1]
            </label>
            <br>
            <label>
                <input type="radio" name="question10_3" value="option2"> Rarely [2]
            </label>
            <br>
            <label>
                <input type="radio" name="question10_3" value="option3"> Sometimes [3]
            </label>
            <br>
            <label>
                <input type="radio" name="question10_3" value="option4"> Often [4]
            </label>
            <br>
            <label>
                <input type="radio" name="question10_3" value="option5"> Always [5]
            </label>

            <h4>Behaving consistently across different situations</h4>
            <label>
                <input type="radio" name="question10_4" value="option1"> Never [1]
            </label>
            <br>
            <label>
                <input type="radio" name="question10_4" value="option2"> Rarely [2]
            </label>
            <br>
            <label>
                <input type="radio" name="question10_4" value="option3"> Sometimes [3]
            </label>
            <br>
            <label>
                <input type="radio" name="question10_4" value="option4"> Often [4]
            </label>
            <br>
            <label>
                <input type="radio" name="question10_4" value="option5"> Always [5]
            </label>
            <h2>5. Agile:</h2>
            <h3>While working with this individual, to what extent do you experience them... </h3>

            <h4>Ruthlessly prioritising and communicating it clearly</h4>
            <label>
                <input type="radio" name="question11_1" value="option1"> Never [1]
            </label>
            <br>
            <label>
                <input type="radio" name="question11_1" value="option2"> Rarely [2]
            </label>
            <br>
            <label>
                <input type="radio" name="question11_1" value="option3"> Sometimes [3]
            </label>
            <br>
            <label>
                <input type="radio" name="question11_1" value="option4"> Often [4]
            </label>
            <br>
            <label>
                <input type="radio" name="question11_1" value="option5"> Always [5]
            </label>

            <h4>Talking openly about their mistakes to help others learn.</h4>
            <label>
                <input type="radio" name="question11_2" value="option1"> Never [1]
            </label>
            <br>
            <label>
                <input type="radio" name="question11_2" value="option2"> Rarely [2]
            </label>
            <br>
            <label>
                <input type="radio" name="question11_2" value="option3"> Sometimes [3]
            </label>
            <br>
            <label>
                <input type="radio" name="question11_2" value="option4"> Often [4]
            </label>
            <br>
            <label>
                <input type="radio" name="question11_2" value="option5"> Always [5]
            </label>

            <h4>Creating a climate where people feel safe and are encouraged to speak up.</h4>
            <label>
                <input type="radio" name="question11_3" value="option1"> Never [1]
            </label>
            <br>
            <label>
                <input type="radio" name="question11_3" value="option2"> Rarely [2]
            </label>
            <br>
            <label>
                <input type="radio" name="question11_3" value="option3"> Sometimes [3]
            </label>
            <br>
            <label>
                <input type="radio" name="question11_3" value="option4"> Often [4]
            </label>
            <br>
            <label>
                <input type="radio" name="question11_3" value="option5"> Always [5]
            </label>

            <h4>Anticipating and responding to change at pace.</h4>
            <label>
                <input type="radio" name="question11_4" value="option1"> Never [1]
            </label>
            <br>
            <label>
                <input type="radio" name="question11_4" value="option2"> Rarely [2]
            </label>
            <br>
            <label>
                <input type="radio" name="question11_4" value="option3"> Sometimes [3]
            </label>
            <br>
            <label>
                <input type="radio" name="question11_4" value="option4"> Often [4]
            </label>
            <br>
            <label>
                <input type="radio" name="question11_4" value="option5"> Always [5]
            </label>

            <h4>Driving commercial value that focus on our customers and shareholders.</h4>
            <label>
                <input type="radio" name="question11_5" value="option1"> Never [1]
            </label>
            <br>
            <label>
                <input type="radio" name="question11_5" value="option2"> Rarely [2]
            </label>
            <br>
            <label>
                <input type="radio" name="question11_5" value="option3"> Sometimes [3]
            </label>
            <br>
            <label>
                <input type="radio" name="question11_5" value="option4"> Often [4]
            </label>
            <br>
            <label>
                <input type="radio" name="question11_5" value="option5"> Always [5]
            </label>
            <h2>7. Ambitious:</h2>
            <h3>While working with this individual, to what extent do you experience them... </h3>

            <h4>Driving enterprise wide success.</h4>
            <label>
                <input type="radio" name="question12_1" value="option1"> Never [1]
            </label>
            <br>
            <label>
                <input type="radio" name="question12_1" value="option2"> Rarely [2]
            </label>
            <br>
            <label>
                <input type="radio" name="question12_1" value="option3"> Sometimes [3]
            </label>
            <br>
            <label>
                <input type="radio" name="question12_1" value="option4"> Often [4]
            </label>
            <br>
            <label>
                <input type="radio" name="question12_1" value="option5"> Always [5]
            </label>

            <h4>Driving outcomes that start with our customers</h4>
            <label>
                <input type="radio" name="question12_2" value="option1"> Never [1]
            </label>
            <br>
            <label>
                <input type="radio" name="question12_2" value="option2"> Rarely [2]
            </label>
            <br>
            <label>
                <input type="radio" name="question12_2" value="option3"> Sometimes [3]
            </label>
            <br>
            <label>
                <input type="radio" name="question12_2" value="option4"> Often [4]
            </label>
            <br>
            <label>
                <input type="radio" name="question12_2" value="option5"> Always [5]
            </label>

            <h4>Pushing boundaries to create opportunities for future success</h4>
            <label>
                <input type="radio" name="question12_3" value="option1"> Never [1]
            </label>
            <br>
            <label>
                <input type="radio" name="question12_3" value="option2"> Rarely [2]
            </label>
            <br>
            <label>
                <input type="radio" name="question12_3" value="option3"> Sometimes [3]
            </label>
            <br>
            <label>
                <input type="radio" name="question12_3" value="option4"> Often [4]
            </label>
            <br>
            <label>
                <input type="radio" name="question12_3" value="option5"> Always [5]
            </label>

            <h4>Thinking about the future and changes that are needed.</h4>
            <label>
                <input type="radio" name="question12_4" value="option1"> Never [1]
            </label>
            <br>
            <label>
                <input type="radio" name="question12_4" value="option2"> Rarely [2]
            </label>
            <br>
            <label>
                <input type="radio" name="question12_4" value="option3"> Sometimes [3]
            </label>
            <br>
            <label>
                <input type="radio" name="question12_4" value="option4"> Often [4]
            </label>
            <br>
            <label>
                <input type="radio" name="question12_4" value="option5"> Always [5]
            </label>
            <h2>7. What is this leader's superpower?</h2>
            <textarea name="question13" rows="4" cols="50" placeholder="Enter your answer here..." pattern="[A-Za-z\s]{1,30}" title="Please enter a maximum of 30 characters with no numbers or special characters."></textarea>
            <h2>8. What is one thing this leader could do to improve their impact?</h2>
            <textarea name="question14" rows="4" cols="50" placeholder="Enter your answer here..."></textarea>
        </div>
        <br><br>
        <input type="submit" value="Submit">
    </form>

    <script>
        function validateQuestion7() {
            var textareaValue = document.getElementsByName('question13')[0].value;
            var pattern = /^[A-Za-z\s]{1,30}$/;

            if (!pattern.test(textareaValue)) {
                alert("Please enter a maximum of 30 characters with no numbers or special characters for question 7.");
                return false;
            }

            return true;
        }

        function validateQuestion8() {
            var textareaValue = document.getElementsByName('question14')[0].value;

            if (textareaValue.length > 100 || /[^a-zA-Z\s]/.test(textareaValue)) {
                alert("Please enter a maximum of 100 characters with no special characters for question 8.");
                return false;
            }

            return true;
        }

        function handleSubmit(event) {
            if (!validateQuestion7() || !validateQuestion8()) {
                event.preventDefault();
            }
        }

        document.querySelector('form').addEventListener('submit', handleSubmit);
    </script>
</div>
</body>
</html>
