<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Peer Review Questionnaire</title>
</head>
<body>
<div class ="container">
    <h1>Peer Review Questionnaire for "..."</h1>
    <form action="" method="post">

        <div class="">
            <label class="form-label" for="name">Name:</label>
            <input class="form-control" id="name" name="name" placeholder="name" type="text"/>
            <h2>1) Collaborative:</h2>
            <h3>While working with this individual, to what extent do you experience them... </h3>
            <h4>building meaningful relationships across teams and projects?</h4>
            <form>
                <label>
                    <input type="radio" name="question1" value="option1"> Never [1]
                </label>
                <br>
                <label>
                    <input type="radio" name="question1" value="option2"> Rarely [2]
                </label>
                <br>
                <label>
                    <input type="radio" name="question1" value="option3"> Sometimes [3]
                </label>
                <br>
                <label>
                    <input type="radio" name="question1" value="option4"> Often [4]
                </label>
                <br>
                <label>
                    <input type="radio" name="question1" value="option5"> Always [5]
                </label>

                </br> </br>
                <input type="submit" value="Submit">
            </form>
        </div>
