<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Add Question</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="container mt-5">

<h1 class="text-center mb-4">Add Question</h1>

<form th:action="@{/admin/addQuestion}" th:object="${Question}" method="get">
  <div class="form-group">
    <label for="questionName">Question Name:</label>
    <input type="text" class="form-control" id="questionName" th:field="*{content}" placeholder="Enter Question name" required/>
  </div>

  <div class="form-group">
    <label for="questionCategory">Question Category:</label>
    <select class="form-control" id="questionCategory"  placeholder="Enter Question Category" required>
    <option th:each="category : ${Categories}" th:text="${category}"></option>
    </select>
  </div>





  <button type="submit" class="btn btn-primary">Submit</button>
</form>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>


